.sudoku-grill-wrapper{
  width: 80%;
  height: auto;
  margin: auto;
}
.heading h2{
  text-align: center;
}
.button{
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}
.button button{
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
}
.button button:hover{
  cursor: pointer;
}


table {
  margin:1em auto;
}
td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}

@media screen and (max-width: 480px) {
  .sudoku-grill-wrapper{
  width: 100%;
  }
}
